<div class="center hero-unit">
  <h1><%= t ".welcome_text" %></h1>

  <h2>
    <%= t ".welcome_subtext" %>
  </h2>
	<p>
		<%= link_to t('button.login'), signin_path, class: "btn btn-large btn-success" %>
		<% unless max_users_reached? %>
		&nbsp <%= t('.or') %> &nbsp
  	<%= link_to t('button.signup'), signup_path, class: "btn btn-large btn-primary" %>
  	<% end %>
	</p>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>