<!-- <h1>Home</h1> -->
<% if current_user %>
<div class="row">
	<aside class="span4">
		<section>
			<%= render 'shared/user_info' %>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
		<section>
			<%= render 'shared/desire_form' %>
		</section>
	</aside>
	<div class="span8">
		<h3><%= t('.latest_desires') %></h3>
		<%= render 'shared/feed' %>
	</div>
</div>  
<% else %> 
<%= render 'welcome' %>
<% end %>