<p><%= @user.name %>,</p>

<p><%= t('.message') %></p>

<%= t('.dont_give_up_html', link: link_to('venti5sera', root_url)) %>

<p><%= t('user_mailer.thanks') %></p>
<p><%= t('user_mailer.signature') %></p>