<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%=  @user.name %>
			</h1>
		</section>
	</aside>
	<div class="span8">
    <% if @user.desires.any? %>
      <h3>Desires (<%= @user.desires.count %>)</h3>
      <ol class="desires">
        <%= render @desires %>
      </ol>
      <%= will_paginate @desires %>
    <% end %>
  </div>
</div>