<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%#= gravatar_for @user, size: 150 %>				
				<%#= image_tag @user.avatar.url :medium %>
				<%= avatar_for @user, :medium %>
				<%=  @user.name %>
			</h1>
		</section>
	</aside>
	<div class="span8">
		<%= render 'follow_form' if current_user %>
    <% if @user.desires.any? %>
      <h3><%= t('.desires') %> (<%= @user.desires.count %>)</h3>
      <ol class="desires">
        <%= render @desires %>
      </ol>
      <%= will_paginate @desires %>
    <% end %>
  </div>
</div>