<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%#= gravatar_for @user, size: 150 %>
				<%#= image_tag @user.avatar.url :medium %>
				<%= avatar_for @user, :medium %>
				<%= @user.name %>
			</h1>
			<p class="lead">"<%= @user.category.name %>"</p>
		</section>
	</aside>
	<div class="span8" id="follow_form_container">
		<%= render 'follow_form' if current_user %>
    <% if @user.desires.any? %>
      <h3><%= t('.desires') %> (<%= @user.current_desires.count %>)</h3>

        <ul class="nav nav-tabs">
        	<li class="active">
        		<a href="#current" data-toggle="tab">
        			<%= t '.current' %>
        		</a>
        	</li>
        	<li>
        		<a href="#previous" data-toggle="tab">
        			<%= t '.previous' %>
        		</a>
        	</li>
        </ul>
        <div class="tab-content">
        	<div class="tab-pane active" id="current">
						<% if @user.current_desires.any? %>
							<ol class="desires">
								<%= render @user.current_desires %>
							</ol>
						<% else %>
							<p>
								<%= t('shared.feed.no_desires_yet') %>
							</p>
						<% end %>
        	</div>
        	<div class="tab-pane" id="previous">
        		<ol class="desires">
        			<%= render @previous_desires %>
        		</ol>
        	</div>
        </div>
      <%#= will_paginate @desires %>
    <% end %>
  </div>
</div>
