<li id="<%= feed_item.id %>">
  <%#= link_to gravatar_for(feed_item.user), feed_item.user %>
  <%= link_to avatar_for(feed_item.user, :thumb), feed_item.user %>
  <span class="user">
    <%= link_to feed_item.user.name, feed_item.user %>
  </span>
  <span class="content"><%= raw(link_generator(h(feed_item.content))) %></span>
  <span class="timestamp">
    <% if (feed_item.updated_at > feed_item.created_at) %>
  	<%= t('.updated') %> <!-- leave a space -->
  	<% else %>
    <%= t('.created') %> <!-- leave a space -->
    <% end %>
    <%= time_ago_in_words(feed_item.updated_at) %> <%= t('.ago') %>.
  </span>
  <% if current_user?(feed_item.user) && feed_item.modified_after_last_xmas? %>
   <%= render 'shared/delete_desire_link', desire: feed_item %> | 
   <%= render 'shared/edit_desire_link', desire: feed_item %>
  <% end %>
</li>