<a href="<%= user_path(current_user) %>">
  <%#= gravatar_for current_user, size: 150 %>
  <%= avatar_for current_user, :medium %>
</a>
<h1>
  <%= current_user.name %>
</h1>
<span>
  <%= link_to t(".view_my_desires"), current_user %>
</span>
<span>
  <%#= pluralize(current_user.desires.count, t(".desire")) %>
  <%= t(".desire", count: current_user.desires.count) %>
</span>