<div class="row category-list">
  <div class="span12">
    <ul class="unstyled">
      <% @categories.each do |category| %>
      <li>
        <span id="<%= category.name %>" class="anchor-link"></span>
        <h3>
          <%= category %>
          (<%= icon(category.icon) %>)
        </h3>
        <ul class="unstyled">
          <% category.users.each do |user| %>
          <li>
            <%= link_to user.name, user %>
            <%= link_to icon('edit'), edit_user_path(user) if current_user.present? && current_user.admin? %>
          </li>
          <% end %>
        </ul>
      </li>
      <% end %>
    </ul>
  </div>
</div>
