<% provide(:title, t('.title')) %>
<h1><%= t('.head') %></h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@user_session) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<%= f.label :email %>
		<%= f.text_field :email %>

		<%= f.label :password %>
		<%= f.password_field :password %>

		<p><%= f.submit t('button.login'), class: "btn btn-large btn-success" %></p>
		<% end %>		

		<% unless max_users_reached? %>
    <p><%= t('.new_user') %> <%= link_to t('.sign_up_now'), signup_path %></p>
    <% end %>
	</div>
</div>